@font-face {
  font-family: "Nexa Black";
  font-style: normal;
  font-weight: normal;
  src: url("https://s3.amazonaws.com/giphy-web-fonts/nexa_black-webfont.woff2")
      format("woff2"),
    url("https://s3.amazonaws.com/giphy-web-fonts/nexa_black-webfont.woff")
      format("woff");
}

body {
  font-family: sans-serif;
  background: #121212;
  margin: 10px;
  padding: 0;
  color: white;
  font-family: "Nexa Black", sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}
